{% extends 'base.html' %}

{% block title %}<title>Ragtime - Charts</title>{% endblock %}

  {% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <span>资产详细</span>
        </li>
        <li class="breadcrumb-item active">资产图表</li>
      </ol>
          <!-- Area Chart -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-area-chart"></i> 业务线负载率</div>
        <div class="card-body">
          <canvas id="myAreaChart" width="100%" height="30"></canvas>
        </div>
        <div class="card-footer small text-muted">昨天 09:15 AM 更新</div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <!-- Bar Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bar-chart"></i> 资产分类统计</div>
            <div class="card-body">
              <canvas id="myBarChart" width="100" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">昨天 11:59 PM 更新</div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Pie Chart Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-pie-chart"></i> 资产状态分类</div>
            <div class="card-body">
              <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">昨天 10:58 PM 更新</div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% block js %}
    <!-- Page level plugin JavaScript-->
    <script src="/static/js/Chart.min.js"></script>
    <!-- Custom scripts for this page-->
<script>
$(document).ready(function ()
    {
     $.getJSON("{% url 'get_dashboard_data' %}",function(callback){
         DrawCharts(callback);
     });//end getJSON
    }
    );//end doc ready
Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#292b2c';
// -- Area Chart
function DrawCharts(chart_data) {
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: chart_data.business_load['names'],
            datasets: [{
                label: "负载",
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 20,
                pointBorderWidth: 2,
                data: chart_data.business_load['data']
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        color: "rgba(0, 0, 0, .125)"
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });
// -- Bar Chart
    var ctx = document.getElementById("myBarChart");
    var myLineChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: chart_data.asset_categories['names'],
            datasets: [{
                label: "数量",
                backgroundColor: "rgba(2,117,216,1)",
                borderColor: "rgba(2,117,216,1)",
                data: chart_data.asset_categories['data']
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    time: {
                        unit: 'month'
                    },
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 20,
                        maxTicksLimit: 5
                    },
                    gridLines: {
                        display: true
                    }
                }]
            },
            legend: {
                display: false
            }
        }
    });
// -- Pie Chart
    var ctx = document.getElementById("myPieChart");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: chart_data.asset_status_list['names'],
            datasets: [{
                data: chart_data.asset_status_list['data'],
                backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745']
            }]
        }
    });
}
</script>
{% endblock %}