<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Login</title>
  <!-- Bootstrap core CSS-->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  <link href="/static/css/bootstrapValidator.min.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login Ragtime</div>
      <div class="card-body">
        <form id="loginForm" action="{% url 'login' %}" method="post">{% csrf_token %}
          <div class="form-group">
            <label for="InputEmail1">Email address</label>
            <input class="form-control" id="InputEmail1" name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="InputPassword1">Password</label>
            <input class="form-control" id="InputPassword1" name="password" type="password" placeholder="Password">
            <span style="color: red">{{ login_err }}</span>
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/static/js/jquery.easing.min.js"></script>
    <!-- Custom JavaScript for this template-->
  <script src="/static/js/bootstrapValidator.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#loginForm').bootstrapValidator({
        fields: {
            password:{
                message: "The password is not valid",
                validators:{
                    notEmpty:{
                        'message': "The password is required and cannot be empty"
                    },
                    stringLength:{
                        min:6,
                        max:30,
                        message:'The password must be more than 6 characters long'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email is required and cannot be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            }
        }
    });
});
</script>
</body>

</html>
